@import 'variables';
@import 'fonts';
@import 'mixins';

html{
    background-color: $brand-color;
    color: $light-shade;
    font-size: 16px; //setting the base font size to use for EM/ REM
}

//selector for the header, holds the header module
header{
    height: 20vh;
    background-color: $header-background;
    @include center(row);
    
    h1{
        float: left;
        width: 45vw;
        margin: 0;
        padding: 0;
    }
    .button-container{
        float: right;
        width: 45vw;

        @include center(column);

        button{
            // margin: 100%;
            @include circular-w-h(40px);
        }
    }
}

//selector for hidden class to hide modules:
.deactive{
    visibility: hidden;
}

//selector for main, holds personlist or person view
main{
    height: 80vh;
    width: 45vw;
    float: left;
}
//selector for the aside, will either hold gift list
//add gift form or add person form
aside{
    height: 80vh;
    width: 45vw;
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
}


//selector for the gift list
.gift-container{
    position: absolute; //make position when switching and hiding moduels works
    background-color: $dark-shade;
    height: 100vh;
    width: 100%;
    @include center(column);
}

//selector for the add gift form
.gift-form{
    background-color: $dark-shade;
    height: 40vh;
    width: 100%; //use up the full container
    position: absolute;
    @include center(column);
}

//selector for the list of "friends" persons in the app
.person-container{
    width: 100%;
    ul{
        li{
            border: 2px solid $light-shade;
            margin-bottom: 10px;
            padding-bottom: 5px;
            list-style-type: none;
            @include center(column);

            //selector for a birthday that has already past in the year
            &.past{
                border-style: inset;
                border: 20px solid $light-shade;
            }
        }
    }
}



//selector for the add person form
.person-form{
    background-color: $dark-accent;
    height: 40vh;
    width: 100%;
    position: absolute;
    @include center(column);
}