@import 'variables';
@import 'fonts';
@import 'mixins';

html{
    background-color: $brand-color;
    color: $light-shade;
}

//selector for the header, holds the header module
header{
    height: 20vh;
    h1{
        float: left;
        width: 45vw;
    }
    .button-container{
        float: right;
        width: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button{
            // margin: 100%;
        }
    }
}

//selector for main, holds personlist or person view
main{
    height: 80vh;
    width: 45vw;
    float: left;
}
//selector for the aside, will either hold gift list
//add gift form or add person form
aside{
    height: 80vh;
    width: 45vw;
    float: right;
    padding: 0;
    margin: 0;
}


//selector for the gift list
.gift-container{
    background-color: $dark-shade;
}

//selector for the add gift form
.gift-form{
    background-color: $dark-shade;
}



//selector for the add person form
.person-form{
    background-color: $dark-accent;
}