@import 'variables';
@import 'fonts';
@import 'mixins';

*{
    font-family: 'Quicksand', 'sans-serif';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ultra', 'serif';
    font-weight: 700;
}
html{
    background-color: $sec-dark;
    color: $light-shade;
    font-size: 18px; //setting the base font size to use for EM/ REM
    overflow-x: hidden;
}

a{
    color: $prime-dark;
    
}

// body{
//     @include center(column-reverse);
//     align-items: flex-end;
//     &.desktop-view{
//         display: block;
//     }
// }

//selector for the header, holds the header module
header{
    height: 5em;
    width: 100%;
    background-color: $sec-light;
    @include center(row);
    // position: fixed;
    
    
    h1{
        float: left;
        width: 45vw;
        margin: 0;
        padding: 0;
        color: $prime-reg;
        font-weight: 7700;
    }
    .button-container{
        width: 45vw;

        @include center(column);
        position: relative;
        top: -1.6em;
        // justify-content: flex-start;

        button{
            // margin: 100%;
            @include circular-w-h(40px);
            border: none;
            background-color: transparent;
            font-size: 1.8rem;
            color: $prime-light;
            p{
                @include center(row);
            }
            &.clicked{
                animation: pulse 400ms ease-out 1;
            }
            &:active{
                border: none;
            }
        }
    }
}

//selector for hidden class to hide modules:
.deactive{
    visibility: hidden;
}

//selector for main, holds personlist or person view
main{
    height: auto;
    width: 95vw; //mobile first take 95%
    overflow-y: none;
    // padding-top: 20vh;
    ul{
        li{
            padding: none;
        }
    }

    //will only trigger if the header is above 800px
    &.desktop-view{
        width: 48vw;
        float: left;
        font-size: 16px;
    }
}
//selector for the aside, will either hold gift list
//add gift form or add person form
aside{
    height: auto;
    width: 95vw;
    padding: 0;
    margin: 0;
    position: relative;
    // padding-top: 20vh;

    //will only trigger if the header is above 800px
    &.desktop-view{
        width: 48vw;
        font-size: 16px;
        float: right;   
    }
}

//selector for the gift list
.gift-container{
    position: absolute; //make position when switching and hiding moduels works
    background-color: transparent;
    // height: 100vh;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    ul{
        padding-left: 0;
        li{
            @include center(row);
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-between;
            background-color: $sec-light;
            margin-top: 10px;
            // flex-wrap: wrap; //add this in later once i get the styling better
            p{
                padding: 0 10px 0 10px;
                width: 30%;
                max-width: 30%;
                &.store{
                    width: 100%;
                    max-width: 100%;
                }
                &.giftname{
                    font-weight: bold;
                }
            }
            button{
                background-color: transparent;
                font-size: 1.4rem;
                color: $prime-light;
                border: none;
                padding-right: 1em;
                &:hover{
                    animation: pulse 400ms ease-out 1;
                }
            }
        }
    }
}

//selector for the add gift form
.gift-form{
    // margin-top: 10vh;
    background-color: $sec-reg;
    min-height: 40vh;
    width: 100%; //use up the full container
    position: absolute;
    @include center(column);
    justify-content: flex-start;

    &.desktop-view{
        .form-field{
            @include center(row);
            align-content: space-between;
        }
    }
}

//selector for the list of "friends" persons in the app
.person-container{
    width: 100%;
    ul{
        // list-style: inside;
        padding-left: 0;
        li{
            border: 2px solid $sec-light;
            background-color: transparent;
            margin-bottom: 10px;
            list-style-type: none;
            @include center(row);
            justify-content: space-between;
            // padding-right: 10px;
            
            padding: 0 10px 5px 10px;

            p{
                text-align: center;
            }

            button{
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                color: $prime-light;
                &:hover{
                    animation: spin 400ms ease-out 1;
                }
            }

            //selector for a birthday that has already past in the year
            &.past{
                background-color: $sec-light;
                // border: 20px solid $sec-light;
            }
        }
    }
}

//selector for the add person form
.person-form{
    // margin-top: 10vh;
    background-color: $sec-reg;
    height: 40vh;
    width: 100%;
    position: absolute;
    @include center(column);
    justify-content: space-around;

    &.desktop-view{
        .form-field{
            @include center(row);
            justify-content: flex-end;
            padding-left: 50px;
            label{
                width: 20%;
                padding-right: 0;
            }
            input{
                width: 70%;
                margin-right: 100px;
            }
        }
    }
}

.form-container{
    background-color: $sec-dark;
    padding-top: 1em;

    .button-container{
        button{
            background-color: transparent;
            border: none;
            font-size: 1.2rem;
            color: $prime-light;
            &:hover{
                animation: pulse 400ms ease-out 1;
            }
        }
    }
    .form-field{
        @include center(column);
        text-align: right;
        width: 100%;
        // padding-left: 100px;
        label{
            width: 40vw;
            padding-bottom: 0.1em;
            text-align: left;
            
        }
        input{
            width: 40vw;
            color: $prime-light;
            border: none;
            border-radius: 2px;
            background-color: $sec-light;
            border-bottom: 2px solid $sec-dark;
        }
    }

    &.desktop-view{
        padding-top: 0;
        margin-top: 1em;
        margin-right: 1em;
        .form-field{
            label{
                padding-left: 1em;
            }
            input{
                margin-left: 1em;
                max-width: 16em;
            }
        }
    }
}