@import 'variables';
@import 'fonts';
@import 'mixins';

*{
    font-family: 'Quicksand', 'sans-serif';
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ultra', 'serif';
    font-weight: 700;
}
html{
    background-color: $sec-dark;
    color: $light-shade;
    font-size: 16px; //setting the base font size to use for EM/ REM
}

//selector for the header, holds the header module
header{
    height: 20vh;
    background-color: $sec-light;
    @include center(row);
    
    h1{
        float: left;
        width: 45vw;
        margin: 0;
        padding: 0;
        color: $prime-reg;
    }
    .button-container{
        float: right;
        width: 45vw;

        @include center(column);

        button{
            // margin: 100%;
            @include circular-w-h(40px);
            border: none;
            background-color: transparent;
            font-size: 1.4rem;
            color: $prime-light;
        }
    }
}

//selector for hidden class to hide modules:
.deactive{
    visibility: hidden;
}

//selector for main, holds personlist or person view
main{
    height: 80vh;
    width: 95vw; //mobile first take 95%

    //will only trigger if the header is above 800px
    &.desktop-view{
         height: auto;
        width: 45vw;
        float: left;
    }
}
//selector for the aside, will either hold gift list
//add gift form or add person form
aside{
    height: 80vh;
    width: 95vw;
    padding: 0;
    margin: 0;
    position: relative;

    //will only trigger if the header is above 800px
    &.desktop-view{
        height: auto;
        width: 45vw;
        float: right;   
    }
}


//selector for the gift list
.gift-container{
    position: absolute; //make position when switching and hiding moduels works
    background-color: $sec-light;
    height: 100vh;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
}

//selector for the add gift form
.gift-form{
    background-color: $sec-reg;
    height: 40vh;
    width: 100%; //use up the full container
    position: absolute;
    @include center(column);

    .gift-form-field{
        @include center(column);
    }

    &.desktop-view{
        .gift-form-field{
            @include center(row);
        }
    }
}

//selector for the list of "friends" persons in the app
.person-container{
    width: 100%;
    ul{
        li{
            border: 2px solid $sec-light;
            margin-bottom: 10px;
            list-style-type: none;
            @include center(row);
            justify-content: space-between;
            // padding-right: 10px;
            padding: 0 10px 5px 10px;

            p{
                text-align: center;
            }

            button{
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                color: $prime-light;
            }

            //selector for a birthday that has already past in the year
            &.past{
                background-color: $sec-light;
                // border: 20px solid $sec-light;
            }
        }
    }
}

//selector for the add person form
.person-form{
    background-color: $sec-light;
    height: 40vh;
    width: 100%;
    position: absolute;
    @include center(column);

    .friend-form-field{
        @include center(column);
    }

    &.desktop-view{
        .friend-form-field{
            @include center(row);
        }
    }
}