@keyframes pulse {
  0% {
    transform: scale(0.8); }
  20% {
    transform: scale(0.6); }
  40% {
    transform: scale(0.7); }
  50% {
    transform: scale(0.8); }
  60% {
    transform: scale(0.9); }
  70% {
    transform: scale(1); }
  80% {
    transform: scale(1.1); }
  90% {
    transform: scale(1.2); }
  100% {
    transform: scale(1.3); } }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
/* biorhyme-regular - latin */
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 400;
  src: url("./google-fonts/biorhyme-v4-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("BioRhyme"), local("BioRhyme-Regular"), url("./google-fonts/biorhyme-v4-latin-regular.eot?#iefix") format("embedded-opentype"), url("./google-fonts/biorhyme-v4-latin-regular.woff2") format("woff2"), url("./google-fonts/biorhyme-v4-latin-regular.woff") format("woff"), url("./google-fonts/biorhyme-v4-latin-regular.ttf") format("truetype"), url("./google-fonts/biorhyme-v4-latin-regular.svg#BioRhyme") format("svg");
  /* Legacy iOS */ }
/* biorhyme-700 - latin */
@font-face {
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 700;
  src: url("./google-fonts/biorhyme-v4-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("BioRhyme Bold"), local("BioRhyme-Bold"), url("./google-fonts/biorhyme-v4-latin-700.eot?#iefix") format("embedded-opentype"), url("./google-fonts/biorhyme-v4-latin-700.woff2") format("woff2"), url("./google-fonts/biorhyme-v4-latin-700.woff") format("woff"), url("./google-fonts/biorhyme-v4-latin-700.ttf") format("truetype"), url("./google-fonts/biorhyme-v4-latin-700.svg#BioRhyme") format("svg");
  /* Legacy iOS */ }
/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("./google-fonts/quicksand-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./google-fonts/quicksand-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("./google-fonts/quicksand-v20-latin-regular.woff2") format("woff2"), url("./google-fonts/quicksand-v20-latin-regular.woff") format("woff"), url("./google-fonts/quicksand-v20-latin-regular.ttf") format("truetype"), url("./google-fonts/quicksand-v20-latin-regular.svg#Quicksand") format("svg");
  /* Legacy iOS */ }
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("./google-fonts/quicksand-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./google-fonts/quicksand-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("./google-fonts/quicksand-v20-latin-700.woff2") format("woff2"), url("./google-fonts/quicksand-v20-latin-700.woff") format("woff"), url("./google-fonts/quicksand-v20-latin-700.ttf") format("truetype"), url("./google-fonts/quicksand-v20-latin-700.svg#Quicksand") format("svg");
  /* Legacy iOS */ }
* {
  font-family: 'Quicksand', 'sans-serif'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ultra', 'serif';
  font-weight: 700; }

html {
  background-color: #161616;
  color: #D8D0A8;
  font-size: 16px; }

header {
  height: 20vh;
  background-color: #666666;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  header h1 {
    float: left;
    width: 45vw;
    margin: 0;
    padding: 0;
    color: #26de40; }
  header .button-container {
    float: right;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .button-container button {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
      color: #70ff72; }

.deactive {
  visibility: hidden; }

main {
  height: 80vh;
  width: 95vw; }
  main.desktop-view {
    height: auto;
    width: 45vw;
    float: left; }

aside {
  height: 80vh;
  width: 95vw;
  padding: 0;
  margin: 0;
  position: relative; }
  aside.desktop-view {
    height: auto;
    width: 45vw;
    float: right; }

.gift-container {
  position: absolute;
  background-color: #666666;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }

.gift-form {
  background-color: #3c3c3c;
  height: 40vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .gift-form .gift-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .gift-form.desktop-view .gift-form-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.person-container {
  width: 100%; }
  .person-container ul li {
    border: 2px solid #666666;
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 5px 10px; }
    .person-container ul li p {
      text-align: center; }
    .person-container ul li button {
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      color: #70ff72; }
    .person-container ul li.past {
      background-color: #666666; }

.person-form {
  background-color: #666666;
  height: 40vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .person-form .friend-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .person-form.desktop-view .friend-form-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

/*# sourceMappingURL=style.css.map */
